<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../assets/css/output.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Serif+Display:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="body">

  <!-- sidebar -->
  <div class="sidebar" id="sidebar">
    <div class="text-right">
      <button class="btnExist" id="btnExist">&times;</button>
    </div>
    <h1 class="text-mediumSize text-white group-hover:font-bold font-comfortaa text-center mb-8">africtong</h1>
    <ul>
      <li id="link" class="flex items-center my-5 active-li py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="active-i text-iconSize mr-2 fa-solid fa-chart-simple"></i>
        <a href="#" id="a-link" class="uppercase active-a font-openSans">Dashboard</a>
      </li>
      <li id="link" class="inactive-li flex items-center my-5 group hover:bg-secondaryColor py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="inactive-i group-hover:text-black text-iconSize mr-2 fa-solid fa-book"></i>
        <a href="#" id="a-link" class="uppercase group-hover:font-bold inactive-a group-hover:text-black font-openSans">Leçons</a>
      </li>
      <li id="link" class="inactive-li flex items-center my-5 group hover:bg-secondaryColor py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="inactive-i group-hover:text-black text-iconSize mr-2 fa-solid fa-bullhorn"></i>
        <a href="#" id="a-link" class="uppercase group-hover:font-bold inactive-a group-hover:text-black font-openSans">Accents</a>
      </li>
      <li id="link" class="inactive-li flex items-center my-5 group hover:bg-secondaryColor py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="inactive-i group-hover:text-black text-iconSize mr-2 fa-solid fa-puzzle-piece"></i>
        <a href="#" id="a-link" class="uppercase group-hover:font-bold inactive-a group-hover:text-black font-openSans">Exercices</a>
      </li>
      <li id="link" class="inactive-li flex items-center my-5 group hover:bg-secondaryColor py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="inactive-i group-hover:text-black text-iconSize mr-2 fa-solid fa-circle-question"></i>
        <a href="#" id="a-link" class="uppercase group-hover:font-bold inactive-a group-hover:text-black font-openSans">Quizz</a>
      </li>
      <li id="link" class="inactive-li flex items-center my-5 group hover:bg-secondaryColor py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="inactive-i group-hover:text-black text-iconSize mr-2 fa-solid fa-comments"></i>
        <a href="#" id="a-link" class="uppercase group-hover:font-bold inactive-a group-hover:text-black font-openSans">Discussions</a>
      </li>
      <li id="link" class="inactive-li flex items-center my-5 group hover:bg-secondaryColor py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="inactive-i group-hover:text-black text-iconSize mr-2 fa-solid fa-users"></i>
        <a href="#" id="a-link" class="uppercase group-hover:font-bold inactive-a group-hover:text-black font-openSans">Apprenants</a>
      </li>
      <li id="link" class="flex items-center my-5 group hover:bg-secondaryColor py-2 px-4 rounded-borderBottomNavigationRadius hover:cursor-pointer">
        <i id="icon-link" class="inactive-i group-hover:text-black text-iconSize mr-2 fa-solid fa-robot"></i>
        <a href="#" id="a-link" class="uppercase group-hover:font-bold inactive-a group-hover:text-black font-openSans">Espace Jimmy</a>
      </li>
    </ul>
  </div>

  <!-- body content -->
  <div class="mainContainer">
      <!-- header container -->
       <div class="w-full md:flex items-center justify-between pb-pad">
          <div class="flex items-center justify-center">
            <div class="btnMenu" id="btnMenu">
              <i class="fa-solid fa-bars-progress text-mediumSize text-primaryColor"></i>
            </div>
            <h1 class="text-largeSize leading font-500 text-primaryColor font-dmSerifDisplay font-bold" id="title">Dashboard</h1>
          </div>
          <div class="flex items-center mt-4 md:mt-0">
              <input class="rounded-borderRadius" type="text" name="Chercher" style="outline: none" id="" placeholder="Chercher..." class="border-none bg-btnPresentationIcon/20 outline-none px-4 py-2 rounded-borderBottomNavigationRadius placeholder:font-openSans text-textSize">
              <div class="rounded-full ml-2 flex items-center justify-center relative">
                <span class="badge-mini"></span>
                <img src="../assets/res/img.jfif" alt="" id="imgProfile" class="cursor-pointer object-cover w-35px h-35px rounded-full mr-2">
              </div>
          </div>
       </div>

       <!-- dashboard section -->
        <div id="dashboard">
          <!-- stats -->
          <div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <div class="rounded-borderBottomNavigationRadius group hover:bg-primaryColor hover:cursor-pointer flex items-center justify-between shadow-md py-2 bg-white px-padVertical">
                    <div>
                        <p class="text-lSize group-hover:text-white font-openSans text-primaryColor tracking-letterSpacing">18</p>
                        <p class="text-langSize group-hover:text-white -mt-2 text-btnPresentationIcon font-dmSerifDisplay font-bold">Leçons</p>
                    </div>
                    <span class=""><i class="text-btnPresentationIcon text-largeSize group-hover:text-white fa-solid fa-book"></i></span>
                </div>
                <div class="rounded-borderBottomNavigationRadius hover:cursor-pointer flex items-center justify-between shadow-md py-2 bg-white px-padVertical group hover:bg-primaryColor">
                  <div>
                    <p class="text-lSize font-openSans text-primaryColor tracking-letterSpacing group-hover:text-white">50</p>
                    <p class="text-langSize -mt-2 group-hover:text-white text-btnPresentationIcon font-dmSerifDisplay font-bold">Accents</p>
                  </div>
                  <span class=""><i class="text-btnPresentationIcon text-largeSize group-hover:text-white fa-solid fa-bullhorn"></i></span>
                </div>
                <div class="rounded-borderBottomNavigationRadius hover:cursor-pointer flex items-center justify-between shadow-md py-2 bg-white px-padVertical group hover:bg-primaryColor">
                  <div>
                    <p class="text-lSize font-openSans text-primaryColor tracking-letterSpacing group-hover:text-white">10</p>
                    <p class="text-langSize -mt-2 group-hover:text-white text-btnPresentationIcon font-dmSerifDisplay font-bold">Exercices</p>
                  </div>
                  <span class=""><i class="text-btnPresentationIcon text-largeSize group-hover:text-white fa-solid fa-puzzle-piece"></i></span>
                </div>
                <div class="rounded-borderBottomNavigationRadius hover:cursor-pointer flex items-center justify-between shadow-md py-2 bg-white px-padVertical group hover:bg-primaryColor">
                  <div>
                    <p class="text-lSize font-openSans text-primaryColor tracking-letterSpacing group-hover:text-white">30</p>
                    <p class="text-langSize -mt-2 group-hover:text-white text-btnPresentationIcon font-dmSerifDisplay font-bold">Quizz</p>
                  </div>
                  <span class=""><i class="text-btnPresentationIcon text-largeSize group-hover:text-white fa-solid fa-circle-question"></i></span>
                </div>
                
            </div>
        </div>
        
        <!-- lecons dashboard sections -->
        <div>
          <h1 class="font-dmSerifDisplay text-lSize font-bold text-primaryColor my-pad">Leçons</h1>
          <div class="relative my-pad w-full grid grid-cols-2 gap-pad min-h-52">
            <div class="relative w-full shadow-lg flex-col flex items-center justify-between bg-white p-pad rounded-borderBottomNavigationRadius cursor-pointer hover:bg-chooseLangOff">
              <canvas id="myChart"></canvas>
              <p class="text-textSize">Les leçons les plus etudiés</p>
            </div>
            <div class="relative w-full shadow-lg flex items-center justify-center bg-white p-pad rounded-borderBottomNavigationRadius cursor-pointer hover:bg-chooseLangOff">
              <canvas id="myChartB"></canvas>
            </div>
          </div>
        </div>

        <!-- utilisateurs dashboard sections -->
        <div>
          <h1 class="font-dmSerifDisplay text-lSize font-bold text-primaryColor my-pad">Leçons</h1>
          <div class="relative my-pad w-full grid grid-cols-2 gap-pad min-h-52">
            <div class="relative w-full shadow-lg flex-col flex items-center justify-between bg-white p-pad rounded-borderBottomNavigationRadius cursor-pointer hover:bg-chooseLangOff">
              <canvas id="myChart"></canvas>
              <p class="text-textSize">Les leçons les plus etudiés</p>
            </div>
            <div class="relative w-full shadow-lg flex items-center justify-center bg-white p-pad rounded-borderBottomNavigationRadius cursor-pointer hover:bg-chooseLangOff">
              <canvas id="myChartB"></canvas>
            </div>
          </div>
        </div>
        </div>

        <!-- lecons section -->
         <div id="lecons" class="hidden">

            <!-- btn to add new lecons  -->
             <div class="flex items-end justify-end">
                <button id="displayAddLesson" class="bg-secondaryColor flex items-center justify-center px-4 py-2 rounded-borderBottomNavigationRadius">
                  <i class="font-iconSize mr-2 fa-solid fa-book"></i>
                  <p class="font-bold text-smallBtn uppercase text-black">nouvelle leçon</p>
                </button>
             </div>

             <!-- lessons list -->
            <div>

              <!-- lessons -->
               <div class="mt-5percent">

                  <!-- unique lessons -->
                  <div id="leconUniques" class="mb-pad lecon border-l-4 border-l-primaryColor shadow-sm rounded-l-borderRadius">
                    <!-- lessons title -->
                    <div class="flex items-center justify-between bg-white p-3">
                      <div class="flex items-center">
                        <h1 class="font-textSize font-comfortaa font-bold text-primaryColor mr-2">Lecon 1: Les nombres de 0 a 10</h1>
                        <span class="bg-secondaryColor text-black text-smallBtn p-0.5 rounded-borderBottomNavigationRadius">Grammaire</span>
                      </div>
                      <button class="cursor-pointer" id="controlLecons">
                        <i class="text-iconSize fa-solid fa-sort-down"></i>
                      </button>
                  </div>

                  <!-- lessons body -->
                  <div class="bg-white px-3 pt-3 pb-1.5">
                        <p class="text-btnPresentationIcon text-textSize font-openSans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic rerum molestias, asperiores itaque ad assumenda et soluta porro officia impedit doloribus cupiditate! Temporibus, possimus tenetur aliquid magnam veritatis illo.</p>
                        <!-- lessons footre -->
                        <div class="mt-5 flex items-center justify-between">
                            <button class="rounded-borderRadius bg-secondaryColor font-bold px-3 py-1.5 text-smallBtn mr-2">Modifier</button>
                            <button class="rounded-borderRadius border border-red font-bold px-3 py-1.5 hover:bg-red text-smallBtn text-red hover:text-white bg-transparent">Supprimer</button>
                        </div>
                  </div>
                  </div>

                  <!-- unique lessons -->
                  <div id="leconUniques" class="mb-pad lecon border-l-4 border-l-primaryColor shadow-sm rounded-l-borderRadius">
                    <!-- lessons title -->
                    <div class="flex items-center justify-between bg-white p-3">
                      <div class="flex items-center">
                        <h1 class="font-textSize font-comfortaa font-bold text-primaryColor mr-2">Lecon 1: Les nombres de 0 a 10</h1>
                        <span class="bg-secondaryColor text-black text-smallBtn p-0.5 rounded-borderBottomNavigationRadius">Grammaire</span>
                      </div>
                      <button class="cursor-pointer" id="controlLecons">
                        <i class="text-iconSize fa-solid fa-sort-down"></i>
                      </button>
                  </div>

                  <!-- lessons body -->
                  <div class="bg-white px-3 pt-3 pb-1.5">
                        <p class="text-btnPresentationIcon text-textSize font-openSans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic rerum molestias, asperiores itaque ad assumenda et soluta porro officia impedit doloribus cupiditate! Temporibus, possimus tenetur aliquid magnam veritatis illo.</p>
                        <!-- lessons footre -->
                        <div class="mt-5 flex items-center justify-between">
                            <button class="rounded-borderRadius bg-secondaryColor font-bold px-3 py-1.5 text-smallBtn mr-2">Modifier</button>
                            <button class="rounded-borderRadius border border-red font-bold px-3 py-1.5 hover:bg-red text-smallBtn text-red hover:text-white bg-transparent">Supprimer</button>
                        </div>
                  </div>
                  </div>

                  <!-- unique lessons -->
                  <div id="leconUniques" class="mb-pad lecon border-l-4 border-l-primaryColor shadow-sm rounded-l-borderRadius">
                    <!-- lessons title -->
                    <div class="flex items-center justify-between bg-white p-3">
                      <div class="flex items-center">
                        <h1 class="font-textSize font-comfortaa font-bold text-primaryColor mr-2">Lecon 1: Les nombres de 0 a 10</h1>
                        <span class="bg-secondaryColor text-black text-smallBtn p-0.5 rounded-borderBottomNavigationRadius">Grammaire</span>
                      </div>
                      <button class="cursor-pointer" id="controlLecons">
                        <i class="text-iconSize fa-solid fa-sort-down"></i>
                      </button>
                  </div>

                  <!-- lessons body -->
                  <div class="bg-white px-3 pt-3 pb-1.5">
                        <p class="text-btnPresentationIcon text-textSize font-openSans">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic rerum molestias, asperiores itaque ad assumenda et soluta porro officia impedit doloribus cupiditate! Temporibus, possimus tenetur aliquid magnam veritatis illo.</p>
                        <!-- lessons footre -->
                        <div class="mt-5 flex items-center justify-between">
                            <button class="rounded-borderRadius bg-secondaryColor font-bold px-3 py-1.5 text-smallBtn mr-2">Modifier</button>
                            <button class="rounded-borderRadius border border-red font-bold px-3 py-1.5 hover:bg-red text-smallBtn text-red hover:text-white bg-transparent">Supprimer</button>
                        </div>
                  </div>
                  </div>
               </div>
            </div>
         </div>


         <!-- Accents section -->
          <div id="accents" class="hidden">

          </div>


          <!-- exercices section -->
          <div id="exercices" class="hidden">

          </div>

          <!-- quizz section -->
          <div id="quizz" class="hidden">

          </div>

          <!-- discussions section -->
          <div id="discussions" class="hidden">

          </div>

          <!-- apprenants section -->
          <div id="apprenants" class="hidden">

          </div>


          <!-- jimmy section -->
          <div id="jimmy" class="hidden">

          </div>

          <!-- gestionnaire -->
           <div class="popProfile hidden" id="popProfile">
              <!-- header -->
              <div class="flex p-pad items-center flex-row">
                  <div class="rounded-full mr-2 flex items-center justify-center relative">
                    <span class="badge"></span>
                    <img src="../assets/res/img.jfif" id="imgProfileGrand" alt="" class="object-cover w-emptySpace h-emptySpace rounded-full mr-2">
                  </div>
                  <div>
                    <p class="font-openSans text-sm" id="nomProfile"></p>
                    <p class="font-openSans text-sm" id="mailProfile"></p>
                  </div>
              </div>
              <hr>
              <div class="flex flex-col justify-start items-start py-padVertical">
                <p class="p-4 w-full text-left text-sm hover:bg-chooseLangOff cursor-pointer">Mon profile</p>
                <a href="#" class="p-4 block text-sm w-full hover:bg-chooseLangOff">Acceuil</a>
                <button id="deconnexion" class="mx-2 px-2 py-1.5 text-white mt-2 font-bold text-sm rounded-borderRadius bg-red">Deconnexion</button>
              </div>
           </div>
  </div>

  <!-- ajout lecons -->
  <div id="addLesson" class="fixed w-full h-full top-0 flex items-center justify-center">
      <div class="bg-white w-40percent px-pad py-3 rounded-borderRadius">
          <div class="mb-pad">
            <h1 class="text-mediumSize font-bold font-dmSerifDisplay">Ajouter une leçon</h1>
          </div>

          <form>
            <div class="grid grid-cols-2 gap-3">
              <div class="flex flex-col mb-pad">
                <label for="" class="mb-2 font-openSans text-sm">Titre de la leçon</label>
                <input class="rounded-borderRadius font-openSans text-sm" id="titreLecon" type="text" placeholder="Entrer le nom de la leçon">
                <p class="erreur" id="titreErreur"></p>
              </div>
              <div class="flex flex-col mb-pad">
                <label for="" class="mb-2 font-openSans text-sm">Langue leçon</label>
                <select name="" class="cursor-pointer rounded-borderRadius font-openSans text-sm" id="langueLecon">
                  <option value="choix">Choisissez une langue</option>
                  <option value="medumba">Medumba</option>
                  <option value="ewondo">Ewondo</option>
                </select>
                <p class="erreur" id="langueErreur"></p>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-3">
              <div class="flex flex-col mb-pad">
                <label for="" class="mb-2 font-openSans text-sm">Libellé de la leçon</label>
                <input id="libelleLecon" class="rounded-borderRadius w-full font-openSans text-sm" type="text" placeholder="Entrer le nom de la leçon">
                <p class="erreur" id="libelleErreur"></p>
              </div>
              <div class="flex flex-col mb-pad">
                <label for="" class="mb-2 font-openSans text-sm">Sous discipline</label>
                <select name="" class="cursor-pointer rounded-borderRadius font-openSans text-sm" id="disciplineLecon">
                  <option value="choix">Choisissez une sous discipline</option>
                  <option value="grammaire">Grammaire</option>
                  <option value="conjugaison">Conjugaison</option>
                  <option value="orthographe">Orthographe</option>
                  <option value="vocabulaire">Vocabulaire</option>
                  <option value="mathematique">Mathematique</option>
                </select>
                <p class="erreur" id="disciplineErreur"></p>
              </div>
            </div>
            <div class="flex flex-col mb-pad">
              <label for="" class="mb-2 font-openSans text-sm">Contenu de la leçon</label>
              <textarea name="" class="rounded-borderRadius font-openSans text-sm" placeholder="Entrer le contenu de la leçon" rows="5" id="contentLecon"></textarea>
              <p class="erreur" id="contenuErreur"></p>
            </div>
            <div class="flex mb-pad justify-end">
              <button id="validAddLesson" class="bg-secondaryColor text-black font-bold uppercase px-2 py-1 font-openSans rounded-borderRadius inline mr-3">Ajouter la leçon</button>
              <button id="hiddenAddLesson" class="bg-red inline font-bold text-white uppercase px-2 py-1 rounded-borderRadius font-openSans">Annuler</button>
            </div>
          </form>
      </div>
  </div>

  <!-- div erreue -->
  <div id="divError" class="hidden fixed top-24 right-1 px-5 py-2 rounded-borderRadius  items-center bg-red-500">
    <p id="msgError" class="font-openSans text-smallBtn">Message d'erreur</p>
    <span id="btnError" class="ml-8 text-iconSize text-black cursor-pointer">&times;</span>
 </div>

  <!-- div erreue -->
  <div id="divSuccess" class="hidden fixed top-24 right-1 px-5 py-2 rounded-borderRadius bg-green-500  items-center">
      <p id="msgSuccess" class="font-openSans text-smallBtn text-white">Message d'erreur</p>
      <span id="btnSuccess" class="ml-8 text-iconSize text-white cursor-pointer">&times;</span>
  </div>

  <script type="module" src="../controllers/lecon_controller.js" defer></script>
  <script type="module" src="../controllers/dashboard_controller.js" defer></script>
  <script src="../assets/js/dash.js"></script>
</body>
</html>